---
import { Icon } from 'astro-icon/components';
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import About from '~/components/widgets/About.astro';
import Services from '~/components/widgets/Services.astro';
---

<Layout>
	<Hero
		actions={[
			{
				variant: 'primary',
				text: 'Get a Free Estimate',
				href: '#contact',
				icon: 'lucide:arrow-right',
			},
			{
				variant: 'secondary',
				text: 'Call Now: (316) 330-4092',
				href: 'tel:+13163304092',
			},
		]}
		backgroundImage={{
			src: '~/assets/premier-hero-bg.jpeg',
			alt: 'Premier Renovations Hero Image',
		}}
		badges
	>
		<Fragment slot="title">
			Bring Your Dream Home to
			<span class="text-accent-400">Life</span>
		</Fragment>
	</Hero>
	<About />
	<Services />
</Layout>
