---
import '../components/CustomStyles.astro';
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';

import CommonMeta from '~/components/common/CommonMeta.astro';
import Metadata from '~/components/common/Metadata.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';

// Props
const { metadata = {} } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<CommonMeta />
		<Metadata {...metadata} />

		<!-- Comment the line below to disable View Transitions -->
		<ClientRouter />
	</head>
	<body class="font-body">
		<slot />
		<BasicScripts />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
